- name: Enviar notificación a Teams
        uses: jdcargile/ms-teams-notification@v1 
        with:
          # ----------------- ¡VARIABLES CORREGIDAS! -----------------
          webhook_uri: ${{ secrets.MSTEAMS_WEBHOOK_URL }} # <--- CORREGIDO: ahora es 'webhook_uri'
          notification_summary: '✅ PR Fusionado en ${{ github.repository }}'
          notification_color: '28A745'
          notification_message: |
            Se ha fusionado un nuevo cambio: **${{ github.event.pull_request.title }}**
            * **Autor:** @${{ github.event.pull_request.user.login }}
            * **Rama Target:** ${{ github.event.pull_request.base.ref }}
            [Ver Pull Request](${{ github.event.pull_request.html_url }})
          # -----------------------------------------------------------
